body{
  background-color: #FFD6D1;
}
h1{
    font-family: "DM Serif Display", serif;
  font-style: normal;
  text-align: center;
  padding: 5%;
}
h2{
  font-family: "DM Serif Display", serif;
  font-style: normal;
  padding: 5%;
}
.btn{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#pics{
  height: 400px;
}